### Задание 1
- Создание объект Series из словаря, где ключи - имена городов, а значения - населения этих городов. Выведите этот Series.
- Создайте DataFrame из двух списков одинаковой длины, преобразовав его к DataFrame и
добавив собственные названия столбцов. Посмотрите на индексы и названия столбцов.
- Используя созданный DataFrame , выведите его методами df.info(), df.shape и
df.describe()

In [3]:
import pandas as pd

s = pd.Series({'Москва': 12678, 'СПб': 5384, 'Новосибирск': 1620})
print("Series:\n", s, "\n")
df = pd.DataFrame({'Имя': ['Анна', 'Иван', 'Мария'], 'Возраст': [25, 30, 22]})
print("DataFrame:\n", df, "\n")
print("df.shape:", df.shape)
print("\ndf.info():")
df.info()
print("\ndf.describe():\n", df.describe())

Series:
 Москва         12678
СПб             5384
Новосибирск     1620
dtype: int64

DataFrame:
      Имя  Возраст
0   Анна       25
1   Иван       30
2  Мария       22

df.shape: (3, 2)

df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Имя      3 non-null      object
 1   Возраст  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

df.describe():
          Возраст
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000

### Задание 2

```python
csv_data = """Name,Score,Passed
Alice,85,True
Bob,90,False
Charlie,78,`True`
Soul,12,False
David,100,True
Lisa,66,False
"""
```
- Сохраните приведенный выше CSV в файл data.csv . Используя pd.read_csv() , загрузите его в
DataFrame и выведите первые 3 строки.
- Создайте простой JSON-файл (например, со списком товаров и их цен). Считайте его с помощью
pd.read_json и выведите содержимое.
- Создайте SQLite базу данных и таблицу через sqlite3 , заполните её несколькими строками и
извлеките их с помощью pd.read_sql().
- Попробуйте прочитать HTML-таблицу с сайта: найдите URL с таблицей (например, какой-нибудь
список) и примените pd.read_html().

In [22]:
import pandas as pd
import sqlite3
import json
from io import StringIO
import requests

In [9]:
csv_data = """Name,Score,Passed
Alice,85,True
Bob,90,False
Charlie,78,True
Soul,12,False
David,100,True
Lisa,66,False
"""

with open('data.csv', 'w') as f:
    f.write(csv_data)

In [11]:
df_csv = pd.read_csv('data.csv')
print(df_csv.head(3))
print(f"\nВсего строк: {len(df_csv)}")

      Name  Score  Passed
0    Alice     85    True
1      Bob     90   False
2  Charlie     78    True

Всего строк: 6

In [13]:
json_data = [
    {"product": "Морс вишня-мята", "price": 173, "category": "Напитки"},
    {"product": "Молоко", "price": 178, "category": "Молочные"},
    {"product": "Хлеб", "price": 213, "category": "Выпечка"}
]

with open('products.json', 'w', encoding='utf-8') as f:
    json.dump(json_data, f)

df_json = pd.read_json('products.json')
print("Содержимое JSON файла:")
print(df_json)
print()

Содержимое JSON файла:
           product  price  category
0  Морс вишня-мята    173   Напитки
1           Молоко    178  Молочные
2             Хлеб    213   Выпечка

In [19]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        score INTEGER,
        passed INTEGER
    )
''')

df_csv.to_sql('students', conn, if_exists='replace', index=False)

df_sql = pd.read_sql('SELECT * FROM students WHERE score > 70', conn)
print("Студенты с оценкой > 70:")
print(df_sql)

conn.close()
print()

Студенты с оценкой > 70:
      Name  Score  Passed
0    Alice     85       1
1      Bob     90       0
2  Charlie     78       1
3    David    100       1

In [31]:
import pandas as pd
import requests
import time

In [32]:
url = "https://cbr.ru/currency_base/daily/"
response = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
time.sleep(1)

tables = pd.read_html(response.text)
df = tables[0]
df.columns = ['Цифр. код', 'Букв. код', 'Единиц', 'Валюта', 'Курс']

print(f"Найдено {len(df)} валют")
print(df.head(10))

Найдено 55 валют
   Цифр. код Букв. код  Единиц                 Валюта     Курс
0         36       AUD       1   Австралийский доллар   531799
1        944       AZN       1  Азербайджанский манат   472828
2         12       DZD     100      Алжирских динаров   619710
3         51       AMD     100       Армянских драмов   210658
4        764       THB      10                  Батов   255436
5         48       BHD       1      Бахрейнский динар  2137323
6        933       BYN       1      Белорусский рубль   272690
7        975       BGN       1         Болгарский лев   483970
8         68       BOB       1              Боливиано   116325
9        986       BRL       1       Бразильский реал   147482

C:\Users\Паша\AppData\Local\Temp\ipykernel_10304\889477048.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

### Задание 3

```python
df = pd.DataFrame({
'Name': ['Alice','Bob','Charlie','David','Eva'],
'Age': [25, 30, 35, 40, 22],
'Score': [88, 92, 85, 90, 95]
})

df2 = pd.DataFrame({
'Dept': ['HR','HR','IT','IT','HR'],
'Salary': [100, 150, 200, 250, 180]
})
```

- Отфильтруйте df из примера по условию: Age > 30 и Score >= 90.
- Создайте DataFrame с покупками (столбцы: User , Item , Quantity ), затем посчитайте общее
количество покупок по каждому User с помощью groupby().
- Отсортируйте один из ваших DataFrame по нескольким столбцам (например, сначала по
Department , потом по Salary ).
- Используя groupby() , найдите средний возраст студентов в каждом классе (придумайте данные с
классами).

In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.DataFrame({
    'Name': ['Alice','Bob','Charlie','David','Eva'],
    'Age': [25, 30, 35, 40, 22],
    'Score': [88, 92, 85, 90, 95]
})

df2 = pd.DataFrame({
    'Dept': ['HR','HR','IT','IT','HR'],
    'Salary': [100, 150, 200, 250, 180]
})

print("Исходные данные:")
print(df)
print("\ndf2:")
print(df2)

Исходные данные:
      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     85
3    David   40     90
4      Eva   22     95

df2:
  Dept  Salary
0   HR     100
1   HR     150
2   IT     200
3   IT     250
4   HR     180

In [43]:
# 1. Фильтрация: Age > 30 и Score >= 90
print("1. Фильтрация (Age > 30 и Score >= 90):")
filtered = df[(df['Age'] > 30) & (df['Score'] >= 90)]
print(filtered)

1. Фильтрация (Age > 30 и Score >= 90):
    Name  Age  Score
3  David   40     90

In [44]:
print("2. Покупки и groupby():")
purchases = pd.DataFrame({
    'User': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'Alice'],
    'Item': ['Apple', 'Banana', 'Orange', 'Apple', 'Orange', 'Banana'],
    'Quantity': [3, 2, 5, 1, 4, 2]
})
print("Данные о покупках:")
print(purchases)

total_by_user = purchases.groupby('User')['Quantity'].sum()
print("\nОбщее количество покупок по пользователям:")
print(total_by_user)

2. Покупки и groupby():
Данные о покупках:
      User    Item  Quantity
0    Alice   Apple         3
1      Bob  Banana         2
2    Alice  Orange         5
3  Charlie   Apple         1
4      Bob  Orange         4
5    Alice  Banana         2

Общее количество покупок по пользователям:
User
Alice      10
Bob         6
Charlie     1
Name: Quantity, dtype: int64

In [41]:
# 3. Сортировка по нескольким столбцам
print("3. Сортировка df2 по Dept, потом по Salary:")
sorted_df2 = df2.sort_values(by=['Dept', 'Salary'])
print(sorted_df2)

3. Сортировка df2 по Dept, потом по Salary:
  Dept  Salary
0   HR     100
1   HR     150
4   HR     180
2   IT     200
3   IT     250

In [42]:
print("4. Средний возраст по классам:")
students = pd.DataFrame({
    'Name': ['Анна', 'Иван', 'Мария', 'Петр', 'Ольга', 'Сергей'],
    'Age': [15, 16, 15, 17, 16, 15],
    'Class': ['10A', '10B', '10A', '10B', '10A', '10B']
})
print("Данные о студентах:")
print(students)

avg_age_by_class = students.groupby('Class')['Age'].mean()
print("\nСредний возраст по классам:")
print(avg_age_by_class)

4. Средний возраст по классам:
Данные о студентах:
     Name  Age Class
0    Анна   15   10A
1    Иван   16   10B
2   Мария   15   10A
3    Петр   17   10B
4   Ольга   16   10A
5  Сергей   15   10B

Средний возраст по классам:
Class
10A    15.333333
10B    16.000000
Name: Age, dtype: float64

### Задание 4

- В вашем DataFrame найдите количество пропущенных значений в каждом столбце (используйте
df.isna().sum()).
- Удалите все строки, где присутствуют пропуски во всех столбцах одновременно.
- Создайте столбец с датами в строковом формате (например, `df['date_str'] =
['2023-01-01', ...]` ), затем преобразуйте его в datetime и извлеките из него год и месяц.
- Приведите числовой столбец с плавающей точкой к целочисленному типу, а строковый столбец с
числами – к числовому типу с помощью pd.to_numeric()

In [45]:
# Создаем DataFrame
df = pd.DataFrame({
    'age': [25.5, np.nan, 35.0],
    'value_str': ['100', '200', None],
    'date_str': ['2023-01-01', '2023-02-01', '2023-03-01']
})

In [47]:
print("Пропуски:", df.isna().sum())

df_clean = df.dropna(how='all')

Пропуски: age          1
value_str    1
date_str     0
date         0
year         0
month        0
dtype: int64

In [48]:
df['date'] = pd.to_datetime(df['date_str'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [56]:
df_no_nan = df.dropna()
df_no_nan['age_int4'] = df_no_nan['age'].astype(int)
df['value'] = pd.to_numeric(df['value_str'])

print("\nРезультат:")
print(df.dtypes)
print(df)

Результат:
age                 float64
value_str            object
date_str             object
date         datetime64[ns]
year                  int32
month                 int32
value               float64
dtype: object
    age value_str    date_str       date  year  month  value
0  25.5       100  2023-01-01 2023-01-01  2023      1  100.0
1   NaN       200  2023-02-01 2023-02-01  2023      2  200.0
2  35.0      None  2023-03-01 2023-03-01  2023      3    NaN

C:\Users\Паша\AppData\Local\Temp\ipykernel_10304\4112559178.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_nan['age_int4'] = df_no_nan['age'].astype(int)